body{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:'Arial',Sans-serif;
}
header{
	background:url('../images/headerbg.jpg') no-repeat 0 0;
	overflow:hidden;
	height:400px;
	min-width:200px;
	max-height: 450px;
	width:100%;
	background-size:cover;
	border-bottom:5px #56B251 solid;

}
#lognav{
	background:black;
	background-opacity:30%;
}
header img{
	margin:auto;
	padding:auto;
}
header nav a{
	text-decoration:none;
	color:white;
	text-align:center;
	padding:0 20px 0 20px;
	min-width:70px;
	width:15%;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
